body {
  background-color: rgb(21, 0, 37);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
}
.box {
  max-width: 800px;
  margin: 200px auto;
  background-color: white;
  padding: 32px;
  border-radius: 8px;
}

.content {
  display: flex;
}

.square-1 {
  margin: 32px auto;
  height: 200px;
  width: 200px;
  border-radius: 8px;
}

.colors {
  margin: 32px auto;
  display: grid;
  width: 300px;
}

label {
  width: 77px;
  display: inline-block;
  vertical-align: middle;
}

output {
  background-color: rgb(224, 221, 221);
  color: gray;
  padding: 4px;
  width: 34px;
  border-radius: 4px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

input#red {
  background: linear-gradient(to right, #d3dad8e0 0%, #e63570 100%);
  background-size: 150px 10px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
  outline: none;
}

input#green {
  background: linear-gradient(to right, #d3dad8e0 0%, #35e6c2 100%);
  background-size: 150px 10px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
  outline: none;
}

input#blue {
  background: linear-gradient(to right, #d3dad8e0 0%, #3582e6 100%);
  background-size: 150px 10px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
  outline: none;
}

input {
  cursor: pointer;
  -webkit-appearance: none;
  width: 130px;
  height: 20px;
  margin-bottom: 30px;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #a2a3a3;
  border-radius: 50%;
  position: relative;
  z-index: 3;
}

input::-webkit-slider-thumb:after {
  content: " ";
  width: 160px;
  height: 10px;
  position: absolute;
  z-index: 1;
  right: 20px;
  top: 5px;
  background: #2ecc71;
}
